button.btn {
    all: unset;
    padding: 12px 20px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    width: fit-content;
    text-align: center;
    border-radius: 8px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button.btn-primary {
    color: #faf3e6;
    background-color: #ad7a20;
}

button.btn-primary:hover {
    background-color: #d28604;
}

button.btn-outline {
    font-weight: 600;
    color: #8d5f11;
    border: 2px solid #ad7a20;
}

button.btn-outline:hover {
    color: #d68d11;
    border: 2px solid #d68d11;
}

button.btn-secondary {
    color: #241702;
    background-color: #f0e9dc;
}

button.btn-secondary:hover {
    background-color: #f6e8d1;
}

button.btn[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

button.block {
    width: 100%;
}