div.form-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: transparent;
    margin: 8px 0;
    position: relative;
    cursor: pointer;
}

div.form-field > label {
    font-size: 15px;
    font-weight: 600;
    color: #735b31;
}

div.form-field > select, div.form-field > input {
    all: unset;
    height: 45px;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px;
    font-weight:500;
    color: #241702;
    background-color: #fff;
    border-radius: 6px;
    border: 1.8px solid #918470;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

div.form-field > select:hover, div.form-field > input {
    background-color: #e1a83511;
}

div.form-field > select:focus, div.form-field > input:focus {
    outline: 2.5px solid #df9f30;
}

div.form-field > select > option {
    color: #241702;
    font-weight: 500;
}

div.form-field > select + span {
    color: #675a47;
    position: absolute;
    user-select: none;
    right: 9px;
    bottom: 9px;
    transform: rotate(90deg);
}

div.form-field-search > input#pesquisar {
    all: unset;
}

div.form-field-search {
    height: 45px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #241702;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border: 1.8px solid #918470;
}